main > ul{
    list-style-type: none;
}
ul:nth-child(2){
    list-style-type: disc;
}
main > ul > ul{
    list-style-type: disc;
}
h1{
    font-size: 190%;
}
h2{
    font-size: 140%;
    text-decoration: underline;
}